.ecriture{

    color: black;
    text-indent: 5%;
    font-size: 125%;
    text-align: justify;
}
#titre {

    color: black;
    text-indent: 5%;
    font-size: 140%;
}
#entete {

    margin-left: 25%;

}
#texte {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;

}