h1 {
    text-align: center;
    color: red;
    background-color:black;
    border: 25px;
    border-color: red;
    border-radius: 10px;
    

}

body { 

    background-color: rgb(255, 255, 255);

    
}

p.text {

    text-align: left;
    color: black;

}

#titre {

    text-align: center;
    font-size:  3em;


}
nav {
	background-color: #333333;
	padding: 1em;

}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: center;
    
}
li {
	margin-right: 1em;
    font-size:  2em;
    color:white;
}
