body { 

    background-image: url(image/fond.avif);
    background-size: cover;
    
    
}
#titre {

    text-align: center;
    font-size:  3em;
    color: aliceblue;



}
nav {
	background-color: #333333;
	padding: 1em;

}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: center;
    
    
}
li {
	margin-right: 1em;
    font-size:  2em;
    
}
a{
    color: aliceblue;
}
#createur{

    margin-top: 42%;
    color: aliceblue;

}